*{
    
}

/*CLASSES SELECTORS*/

/*HEADER*/

.logo {
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
}

.header-right-links ul{
    display: flex;
    gap: 25px;
}

.header-logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 400px;

    height: 50px;
}

.header-home-container{
    height: 500px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 400px;
}

.home-description{
    height: 245px;
    width: 460px;

    display: flex;
    flex-direction: column;

}

.image-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;

    height: 245px;
    width: 550px;

    color: white;
}

.hero-main-text{
    font-weight: bold;
    font-size: 48px;
    color: #f9faf8;
}

.secondary-text{
    margin-bottom: auto;
}

.button{
    background-color: #3882F6;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 125px;
    height: 35px;

    border-radius: 10px;

    color: white;
    font-weight: bold;
}

/*FIRST SECTION*/

.first-section{
    display: flex;

    border: 1px solid red;
}

/*FOOTER*/

.footer{
    flex: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/*GROUP SELECTORS*/

.header, .footer{
    background-color: #1F2937;
}

.header, .first-section, .second-section, .third-section{
    flex: 4;
}

/*TYPE SELECTORS*/

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    margin: 0;
    padding: 0;
}

a, .secondary-text{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
}
