*{
    
}

/*CLASSES SELECTORS*/

/*HEADER*/

.header{
    min-height: 500px;

    display: flex;
    flex-direction: column;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
}

.header-right-links ul{
    display: flex;
    gap: 25px;
}

.header-logo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0% 12%;
    margin-bottom: 90px;

    height: 50px;
}

.header-home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0% 12%;
}

.home-description{
    height: 245px;
    width: 460px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.image-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;

    height: 240px;
    width: 550px;

    color: white;
}

.hero-main-text{
    font-weight: bold;
    font-size: 48px;
    color: #f9faf8;
}


.button{
    background-color: #3882F6;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 125px;
    height: 35px;

    border-radius: 10px;

    color: white;
    font-weight: bold;
}

/*FIRST SECTION*/

.first-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid red;

    min-height: 480px;
}

.title{
    font-size: 36px;
    font-weight: 900;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 140px;
}

.cards-container{
    display: flex;
    justify-content: center;

    gap: 75px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;

    text-align: center;
    width: 170px;
    font-weight: 500;

    color: #808080;
}


.ilustration{
    border: 4px solid #3882F6;
    border-radius: 18px;

    width: 170px;
    height: 170px;
}

.ilustration-text{
    width: 150px;
}

/*SECOND SECTION*/

.second-section{
    background-color: #e5e7eb;

    min-height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container{
    width: 750px;

    display: flex;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-style:italic;
    font-weight: 100;
    color: #1F2937;
}

.quote-credits{
    font-size: 22px;
    font-weight: bold;

    align-self: flex-end;
}

/*FOOTER*/

.footer{
    flex: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100px;
    color: white;
}

/*GROUP SELECTORS*/

.header, .footer{
    background-color: #1F2937;
}

.header, .first-section, .second-section, .third-section{
    flex: 4;
}

/*TYPE SELECTORS*/

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    margin: 0;
    padding: 0;
}

a, .secondary-text{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
}
